Repository HottoCoffee/HottoCoffee, pull requests merged in 2023-05, with the labels that each got.

#64 Fix port exposed
  compose.yaml
Labels: bug

#72 add auto label setting
  .github/label-path-mapping.yaml
  .github/workflows/labeler.yaml
Labels: ci

#86 [Frontend] Add missing value into mock
  frontend/src/features/MonthlyCalendar/components/MonthlyCalendarDayCell/MonthlyCalendarDayCell.stories.tsx
  frontend/src/msw/api/batchHistory.ts
  frontend/src/msw/api/calendar.ts
  frontend/src/swagger/schema/schemas/history.ts
Labels: frontend

#97 Fix build-storybook
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#94 Fix flicking
  frontend/src/features/BatchList/index.tsx
Labels: frontend

#61 [Backend] PUT /api/batch/{id}
  backend/go/.mock/core/batch_repository.go
  backend/go/core/batch_repository.go
  backend/go/infrastructure/batch_repository_impl.go
  backend/go/infrastructure/batch_repository_impl_test.go
  backend/go/main.go
  backend/go/main_test.go
  backend/go/usecase/batch_input_validator.go
  backend/go/usecase/batch_input_validator_test.go
  backend/go/usecase/change_batch_usecase.go
  backend/go/usecase/change_batch_usecase_test.go
  backend/go/usecase/create_batch_usecase.go
Labels: backend
